<div class="main-header-background">
  <header class="main-header">
    <h1 class="brand">
      <a href="https://topaxi.codes/">topaxi.codes</a>
    </h1>

    <nav class="main-menu">
      <ul>
        <li class="menu-item">
          <a href="https://topaxi.ch/">Home</a>
        </li>
        <li class="menu-item">
          <a href="https://topaxi.codes/" class="active">Blog</a>
        </li>
      </ul>
      <ul>
        <li class="menu-item">
          <a href="https://topaxi.ch/about">About</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
